@use "theme";
@use "text-styles";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  height: 100%;
}

#__next {
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
