// size variables

$contentWidth: 1280px;
$tabletBreakpoint: 1024px;
$navBarHeight: 88px;
$buttonHeight: 42px;
$textInputHeight: $buttonHeight;
$landingPageBannerHeight: 360px;

// Border Radius variables
$generalBorderRadius: 12px;
