@use "/src/styles/global/variables";

@mixin button {
  all: unset;
  padding: 0 16px;
  border-radius: variables.$generalBorderRadius;
  border: none;
  cursor: pointer;
  height: variables.$buttonHeight;
}

@mixin buttonShadow {
  transition-duration: 100ms;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.117);
}

.primary {
  @include button;
  background-color: var(--color-primary);

  .text {
    color: var(--color-on-primary);
  }

  &:hover {
    background-color: var(--color-on-primary-8);
    @include buttonShadow;
  }
}

.secondary {
  @include button;
  background-color: transparent;
  border-width: 1px;
  border-color: var(--color-outline);
  border-style: solid;

  &:hover {
    @include buttonShadow;
  }

  .text {
    color: var(--color-primary);
  }
}

.textButton {
  @include button;
  padding: 0;
  background-color: var(--color-background);

  .text {
    color: var(--color-primary);
  }
}
