@use "/src/styles/global/variables.scss";
@use "/src/styles/global/mixins/colors.scss";
@use "../../styles/global/mixins/effects";

@mixin button {
  all: unset;
  cursor: pointer;
  height: variables.$buttonHeight;
  border-radius: variables.$generalBorderRadius;
  padding: 0 16px;
}

.primary {
  @include button;
  background-color: var(--color-primary);

  &:hover {
    @include effects.elevation1;
    background-color: var(--color-primary-92);
  }

  .text {
    color: var(--color-on-primary);
  }
}

.secondary {
  @include button;
  background-color: transparent;
  border-width: 1px;
  border-color: var(--color-outline);
  border-style: solid;

  .text {
    color: var(--color-primary);
  }

  &:hover {
    background-color: var(--color-primary-8);
  }
}

.textButton {
  @include button;
  padding: 0 12px;

  .text {
    color: var(--color-primary);
  }

  &:hover {
    background-color: var(--color-primary-8);
  }
}
