@use "src/styles/global/inputs";

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-on-surface);
  gap: 16px;
}

.input {
  @extend .textInput;
  width: 320px;
}
.title {
  margin: 0 0 16px;
}

.password {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

.button {
  width: 100%;
}