@use "colors";

$surface1opacity: 0.05;
$surface2opacity: 0.08;
$surface3opacity: 0.11;
$surface4opacity: 0.12;
$surface5opacity: 0.14;

$opacity8: 0.08;
$opacity12: 0.12;
$opacity16: 0.16;


$opacity92: 0.92;
$opacity88: 0.88;
$opacity84: 0.84;

@function adjustOpacity($color, $opacityLevel) {
  @return rgba($color, $alpha: $opacityLevel);
}


@mixin derived-colors {
  // primary
  --color-primary-light-8: #{adjustOpacity(colors.$primary-light, $opacity8)};
  --color-on-primary-light-8: #{adjustOpacity(colors.$on-primary-light, $opacity8)};
  --color-primary-light-12: #{adjustOpacity(colors.$primary-light, $opacity12)};
  --color-on-primary-light-12: #{adjustOpacity(colors.$on-primary-light, $opacity12)};
  --color-primary-light-16: #{adjustOpacity(colors.$primary-light, $opacity16)};
  --color-on-primary-light-16: #{adjustOpacity(colors.$on-primary-light, $opacity16)};

  --color-primary-dark-8: #{adjustOpacity(colors.$primary-dark, $opacity8)};
  --color-on-primary-dark-8: #{adjustOpacity(colors.$on-primary-dark, $opacity8)};
  --color-primary-dark-12: #{adjustOpacity(colors.$primary-dark, $opacity12)};
  --color-on-primary-dark-12: #{adjustOpacity(colors.$on-primary-dark, $opacity12)};
  --color-primary-dark-16: #{adjustOpacity(colors.$primary-dark, $opacity16)};
  --color-on-primary-dark-16: #{adjustOpacity(colors.$on-primary-dark, $opacity16)};

  // secondary
  --color-secondary-light-8: #{adjustOpacity(colors.$secondary-light, $opacity8)};
  --color-on-secondary-light-8: #{adjustOpacity(colors.$on-secondary-light, $opacity8)};
  --color-secondary-light-12: #{adjustOpacity(colors.$secondary-light, $opacity12)};
  --color-on-secondary-light-12: #{adjustOpacity(colors.$on-secondary-light, $opacity12)};
  --color-secondary-light-16: #{adjustOpacity(colors.$secondary-light, $opacity16)};
  --color-on-secondary-light-16: #{adjustOpacity(colors.$on-secondary-light, $opacity16)};

  --color-secondary-dark-8: #{adjustOpacity(colors.$secondary-dark, $opacity8)};
  --color-on-secondary-dark-8: #{adjustOpacity(colors.$on-secondary-dark, $opacity8)};
  --color-secondary-dark-12: #{adjustOpacity(colors.$secondary-dark, $opacity12)};
  --color-on-secondary-dark-12: #{adjustOpacity(colors.$on-secondary-dark, $opacity12)};
  --color-secondary-dark-16: #{adjustOpacity(colors.$secondary-dark, $opacity16)};
  --color-on-secondary-dark-16: #{adjustOpacity(colors.$on-secondary-dark, $opacity16)};

  // tertiary
  --color-tertiary-light-8: #{adjustOpacity(colors.$tertiary-light, $opacity8)};
  --color-on-tertiary-light-8: #{adjustOpacity(colors.$on-tertiary-light, $opacity8)};
  --color-tertiary-light-12: #{adjustOpacity(colors.$tertiary-light, $opacity12)};
  --color-on-tertiary-light-12: #{adjustOpacity(colors.$on-tertiary-light, $opacity12)};
  --color-tertiary-light-16: #{adjustOpacity(colors.$tertiary-light, $opacity16)};
  --color-on-tertiary-light-16: #{adjustOpacity(colors.$on-tertiary-light, $opacity16)};

  --color-tertiary-dark-8: #{adjustOpacity(colors.$tertiary-dark, $opacity8)};
  --color-on-tertiary-dark-8: #{adjustOpacity(colors.$on-tertiary-dark, $opacity8)};
  --color-tertiary-dark-12: #{adjustOpacity(colors.$tertiary-dark, $opacity12)};
  --color-on-tertiary-dark-12: #{adjustOpacity(colors.$on-tertiary-dark, $opacity12)};
  --color-tertiary-dark-16: #{adjustOpacity(colors.$tertiary-dark, $opacity16)};
  --color-on-tertiary-dark-16: #{adjustOpacity(colors.$on-tertiary-dark, $opacity16)};

  // surface
  --color-surface-light-1: #{adjustOpacity(colors.$primary-light, $surface1opacity)};
  --color-surface-light-2: #{adjustOpacity(colors.$primary-light, $surface2opacity)};
  --color-surface-light-3: #{adjustOpacity(colors.$primary-light, $surface3opacity)};
  --color-surface-light-4: #{adjustOpacity(colors.$primary-light, $surface4opacity)};
  --color-surface-light-5: #{adjustOpacity(colors.$primary-light, $surface5opacity)};

  --color-surface-dark-1: #{adjustOpacity(colors.$primary-dark, $surface1opacity)};
  --color-surface-dark-2: #{adjustOpacity(colors.$primary-dark, $surface2opacity)};
  --color-surface-dark-3: #{adjustOpacity(colors.$primary-dark, $surface3opacity)};
  --color-surface-dark-4: #{adjustOpacity(colors.$primary-dark, $surface4opacity)};
  --color-surface-dark-5: #{adjustOpacity(colors.$primary-dark, $surface5opacity)};

  // primary dimmed
  --color-primary-light-92: #{adjustOpacity(colors.$primary-light, $opacity92)};
  --color-on-primary-light-92: #{adjustOpacity(colors.$on-primary-light, $opacity92)};
  --color-primary-light-88: #{adjustOpacity(colors.$primary-light, $opacity88)};
  --color-on-primary-light-88: #{adjustOpacity(colors.$on-primary-light, $opacity88)};
  --color-primary-light-84: #{adjustOpacity(colors.$primary-light, $opacity84)};
  --color-on-primary-light-84: #{adjustOpacity(colors.$on-primary-light, $opacity84)};

  --color-primary-dark-92: #{adjustOpacity(colors.$primary-dark, $opacity92)};
  --color-on-primary-dark-92: #{adjustOpacity(colors.$on-primary-dark, $opacity92)};
  --color-primary-dark-88: #{adjustOpacity(colors.$primary-dark, $opacity88)};
  --color-on-primary-dark-88: #{adjustOpacity(colors.$on-primary-dark, $opacity88)};
  --color-primary-dark-84: #{adjustOpacity(colors.$primary-dark, $opacity84)};
  --color-on-primary-dark-84: #{adjustOpacity(colors.$on-primary-dark, $opacity84)};

  // secondary dimmed
  --color-secondary-light-92: #{adjustOpacity(colors.$secondary-light, $opacity92)};
  --color-on-secondary-light-92: #{adjustOpacity(colors.$on-secondary-light, $opacity92)};
  --color-secondary-light-88: #{adjustOpacity(colors.$secondary-light, $opacity88)};
  --color-on-secondary-light-88: #{adjustOpacity(colors.$on-secondary-light, $opacity88)};
  --color-secondary-light-84: #{adjustOpacity(colors.$secondary-light, $opacity84)};
  --color-on-secondary-light-84: #{adjustOpacity(colors.$on-secondary-light, $opacity84)};

  --color-secondary-container-light-92: #{adjustOpacity(colors.$secondary-container-light, $opacity92)};
  --color-on-secondary-container-light-92: #{adjustOpacity(colors.$on-secondary-container-light, $opacity92)};
  --color-secondary-container-light-88: #{adjustOpacity(colors.$secondary-container-light, $opacity88)};
  --color-on-secondary-container-light-88: #{adjustOpacity(colors.$on-secondary-container-light, $opacity88)};
  --color-secondary-container-light-84: #{adjustOpacity(colors.$secondary-container-light, $opacity84)};
  --color-on-secondary-container-light-84: #{adjustOpacity(colors.$on-secondary-container-light, $opacity84)};

  --color-secondary-dark-92: #{adjustOpacity(colors.$secondary-dark, $opacity92)};
  --color-on-secondary-dark-92: #{adjustOpacity(colors.$on-secondary-dark, $opacity92)};
  --color-secondary-dark-88: #{adjustOpacity(colors.$secondary-dark, $opacity88)};
  --color-on-secondary-dark-88: #{adjustOpacity(colors.$on-secondary-dark, $opacity88)};
  --color-secondary-dark-84: #{adjustOpacity(colors.$secondary-dark, $opacity84)};
  --color-on-secondary-dark-84: #{adjustOpacity(colors.$on-secondary-dark, $opacity84)};

  --color-secondary-container-dark-92: #{adjustOpacity(colors.$secondary-container-dark, $opacity92)};
  --color-on-secondary-container-dark-92: #{adjustOpacity(colors.$on-secondary-container-dark, $opacity92)};
  --color-secondary-container-dark-88: #{adjustOpacity(colors.$secondary-container-dark, $opacity88)};
  --color-on-secondary-container-dark-88: #{adjustOpacity(colors.$on-secondary-container-dark, $opacity88)};
  --color-secondary-container-dark-84: #{adjustOpacity(colors.$secondary-container-dark, $opacity84)};
  --color-on-secondary-container-dark-84: #{adjustOpacity(colors.$on-secondary-container-dark, $opacity84)};


  // tertiary dimmed
  --color-tertiary-light-92: #{adjustOpacity(colors.$tertiary-light, $opacity92)};
  --color-on-tertiary-light-92: #{adjustOpacity(colors.$on-tertiary-light, $opacity92)};
  --color-tertiary-light-88: #{adjustOpacity(colors.$tertiary-light, $opacity88)};
  --color-on-tertiary-light-88: #{adjustOpacity(colors.$on-tertiary-light, $opacity88)};
  --color-tertiary-light-84: #{adjustOpacity(colors.$tertiary-light, $opacity84)};
  --color-on-tertiary-light-84: #{adjustOpacity(colors.$on-tertiary-light, $opacity84)};

  --color-tertiary-dark-92: #{adjustOpacity(colors.$tertiary-dark, $opacity92)};
  --color-on-tertiary-dark-92: #{adjustOpacity(colors.$on-tertiary-dark, $opacity92)};
  --color-tertiary-dark-88: #{adjustOpacity(colors.$tertiary-dark, $opacity88)};
  --color-on-tertiary-dark-88: #{adjustOpacity(colors.$on-tertiary-dark, $opacity88)};
  --color-tertiary-dark-84: #{adjustOpacity(colors.$tertiary-dark, $opacity84)};
  --color-on-tertiary-dark-84: #{adjustOpacity(colors.$on-tertiary-dark, $opacity84)};

  // surface variant
  --color-surface-variant-dark-92: #{adjustOpacity(colors.$surface-variant-dark, $opacity92)};
  --color-on-surface-variant-dark-92: #{adjustOpacity(colors.$on-surface-variant-dark, $opacity92)};
  --color-surface-variant-dark-88: #{adjustOpacity(colors.$surface-variant-dark, $opacity88)};
  --color-on-surface-variant-dark-88: #{adjustOpacity(colors.$on-surface-variant-dark, $opacity88)};
  --color-surface-variant-dark-84: #{adjustOpacity(colors.$surface-variant-dark, $opacity84)};
  --color-on-surface-variant-dark-84: #{adjustOpacity(colors.$on-surface-variant-dark, $opacity84)};

  --color-surface-variant-light-92: #{adjustOpacity(colors.$surface-variant-light, $opacity92)};
  --color-on-surface-variant-light-92: #{adjustOpacity(colors.$on-surface-variant-light, $opacity92)};
  --color-surface-variant-light-88: #{adjustOpacity(colors.$surface-variant-light, $opacity88)};
  --color-on-surface-variant-light-88: #{adjustOpacity(colors.$on-surface-variant-light, $opacity88)};
  --color-surface-variant-light-84: #{adjustOpacity(colors.$surface-variant-light, $opacity84)};
  --color-on-surface-variant-light-84: #{adjustOpacity(colors.$on-surface-variant-light, $opacity84)};
}


@mixin derived-light-theme {
  --color-primary-8: var(--color-primary-light-8);
  --color-on-primary-8: var(--color-on-primary-light-8);
  --color-primary-12: var(--color-primary-light-12);
  --color-on-primary-12: var(--color-on-primary-light-12);
  --color-primary-16: var(--color-primary-light-16);
  --color-on-primary-16: var(--color-on-primary-light-16);

  --color-secondary-8: var(--color-secondary-light-8);
  --color-on-secondary-8: var(--color-on-secondary-light-8);
  --color-secondary-12: var(--color-secondary-light-12);
  --color-on-secondary-12: var(--color-on-secondary-light-12);
  --color-secondary-16: var(--color-secondary-light-16);
  --color-on-secondary-16: var(--color-on-secondary-light-16);

  --color-tertiary-8: var(--color-tertiary-light-8);
  --color-on-tertiary-8: var(--color-on-tertiary-light-8);
  --color-tertiary-12: var(--color-tertiary-light-12);
  --color-on-tertiary-12: var(--color-on-tertiary-light-12);
  --color-tertiary-16: var(--color-tertiary-light-16);
  --color-on-tertiary-16: var(--color-on-tertiary-light-16);

  --color-primary-92: var(--color-primary-light-92);
  --color-on-primary-92: var(--color-on-primary-light-92);
  --color-primary-88: var(--color-primary-light-88);
  --color-on-primary-88: var(--color-on-primary-light-88);
  --color-primary-84: var(--color-primary-light-84);
  --color-on-primary-84: var(--color-on-primary-light-84);

  --color-secondary-92: var(--color-secondary-light-92);
  --color-on-secondary-92: var(--color-on-secondary-light-92);
  --color-secondary-88: var(--color-secondary-light-88);
  --color-on-secondary-88: var(--color-on-secondary-light-88);
  --color-secondary-84: var(--color-secondary-light-84);
  --color-on-secondary-84: var(--color-on-secondary-light-84);

  --color-secondary-container-92: var(--color-secondary-container-light-92);
  --color-on-secondary-container-92: var(--color-on-secondary-container-light-92);
  --color-secondary-container-88: var(--color-secondary-container-light-88);
  --color-on-secondary-container-88: var(--color-on-secondary-container-light-88);
  --color-secondary-container-84: var(--color-secondary-container-light-84);
  --color-on-secondary-container-84: var(--color-on-secondary-container-light-84);

  --color-tertiary-92: var(--color-tertiary-light-92);
  --color-on-tertiary-92: var(--color-on-tertiary-light-92);
  --color-tertiary-88: var(--color-tertiary-light-88);
  --color-on-tertiary-88: var(--color-on-tertiary-light-88);
  --color-tertiary-84: var(--color-tertiary-light-84);
  --color-on-tertiary-84: var(--color-on-tertiary-light-84);

  --color-surface-variant-92: var(--color-surface-variant-light-92);
  --color-on-surface-variant-92: var(--color-on-surface-variant-light-92);
  --color-surface-variant-88: var(--color-surface-variant-light-88);
  --color-on-surface-variant-88: var(--color-on-surface-variant-light-88);
  --color-surface-variant-84: var(--color-surface-variant-light-84);
  --color-on-surface-variant-84: var(--color-on-surface-variant-light-84);

  --color-surface-1: var(--color-surface-light-1);
  --color-surface-2: var(--color-surface-light-2);
  --color-surface-3: var(--color-surface-light-3);
  --color-surface-4: var(--color-surface-light-4);
  --color-surface-5: var(--color-surface-light-5);
}

@mixin derived-dark-theme {
  --color-primary-8: var(--color-primary-dark-8);
  --color-on-primary-8: var(--color-on-primary-dark-8);
  --color-primary-12: var(--color-primary-dark-12);
  --color-on-primary-12: var(--color-on-primary-dark-12);
  --color-primary-16: var(--color-primary-dark-16);
  --color-on-primary-16: var(--color-on-primary-dark-16);

  --color-secondary-8: var(--color-secondary-dark-8);
  --color-on-secondary-8: var(--color-on-secondary-dark-8);
  --color-secondary-12: var(--color-secondary-dark-12);
  --color-on-secondary-12: var(--color-on-secondary-dark-12);
  --color-secondary-16: var(--color-secondary-dark-16);
  --color-on-secondary-16: var(--color-on-secondary-dark-16);

  --color-tertiary-8: var(--color-tertiary-dark-8);
  --color-on-tertiary-8: var(--color-on-tertiary-dark-8);
  --color-tertiary-12: var(--color-tertiary-dark-12);
  --color-on-tertiary-12: var(--color-on-tertiary-dark-12);
  --color-tertiary-16: var(--color-tertiary-dark-16);
  --color-on-tertiary-16: var(--color-on-tertiary-dark-16);

  --color-primary-92: var(--color-primary-dark-92);
  --color-on-primary-92: var(--color-on-primary-dark-92);
  --color-primary-88: var(--color-primary-dark-88);
  --color-on-primary-88: var(--color-on-primary-dark-88);
  --color-primary-84: var(--color-primary-dark-84);
  --color-on-primary-84: var(--color-on-primary-dark-84);

  --color-secondary-92: var(--color-secondary-dark-92);
  --color-on-secondary-92: var(--color-on-secondary-dark-92);
  --color-secondary-88: var(--color-secondary-dark-88);
  --color-on-secondary-88: var(--color-on-secondary-dark-88);
  --color-secondary-84: var(--color-secondary-dark-84);
  --color-on-secondary-84: var(--color-on-secondary-dark-84);

  --color-secondary-container-92: var(--color-secondary-container-dark-92);
  --color-on-secondary-container-92: var(--color-on-secondary-container-dark-92);
  --color-secondary-container-88: var(--color-secondary-container-dark-88);
  --color-on-secondary-container-88: var(--color-on-secondary-container-dark-88);
  --color-secondary-container-84: var(--color-secondary-container-dark-84);
  --color-on-secondary-container-84: var(--color-on-secondary-container-dark-84);

  --color-tertiary-92: var(--color-tertiary-dark-92);
  --color-on-tertiary-92: var(--color-on-tertiary-dark-92);
  --color-tertiary-88: var(--color-tertiary-dark-88);
  --color-on-tertiary-88: var(--color-on-tertiary-dark-88);
  --color-tertiary-84: var(--color-tertiary-dark-84);
  --color-on-tertiary-84: var(--color-on-tertiary-dark-84);

  --color-surface-variant-92: var(--color-surface-variant-dark-92);
  --color-on-surface-variant-92: var(--color-on-surface-variant-dark-92);
  --color-surface-variant-88: var(--color-surface-variant-dark-88);
  --color-on-surface-variant-88: var(--color-on-surface-variant-dark-88);
  --color-surface-variant-84: var(--color-surface-variant-dark-84);
  --color-on-surface-variant-84: var(--color-on-surface-variant-dark-84);

  --color-surface-1: var(--color-surface-dark-1);
  --color-surface-2: var(--color-surface-dark-2);
  --color-surface-3: var(--color-surface-dark-3);
  --color-surface-4: var(--color-surface-dark-4);
  --color-surface-5: var(--color-surface-dark-5);
}
