$elevationTransitionDuration: 100ms;

@mixin transition {
  transition-duration: $elevationTransitionDuration;
}

@mixin elevation1 {
  @include transition;
  box-shadow: 0 2px 4px var(--color-shadow)
}

@mixin elevation2 {
  @include transition;
  box-shadow: 0 4px 8px var(--color-shadow)
}

@mixin elevation3 {
  @include transition;
  box-shadow: 0 6px 12px var(--color-shadow)
}

@mixin elevation4 {
  @include transition;
  box-shadow: 0 8px 16px var(--color-shadow)
}

@mixin elevation5 {
  @include transition;
  box-shadow: 0 10px 20px var(--color-shadow)
}