@use "src/styles/global/variables";

.contributors {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.contributor {
  display: flex;
  gap: 16px;
  background-color: var(--color-surface-variant);
  color: var(--color-on-surface-variant);
  padding: 16px;
  border-radius: variables.$generalBorderRadius;
  cursor: pointer;
  align-items: center;
  .info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &:hover {
    background-color: var(--color-surface-variant-84);
  }
}

.name {
  margin: 0;
  font-weight: 500;
}

.subInfo {
  margin: 0;
  color: var(--color-on-secondary-container);
}

.avatar {
  height: 48px;
  width: 48px;
  border-radius: 100%;
  border: 1px solid var(--color-outline);
  overflow: hidden;
}

